{% extends "base.html" %}

{% block title %}Coffee: {{ coffee.name }}{% endblock %}

{% block content %}
<h2>{{ coffee.name }}</h2>
{% if coffee.type %}
<p>Type: {{ coffee.get_type_display }}</p>
{% endif %}

{% if coffee.description %}
<p>{{ coffee.description }}</p>
{% endif %}

{% if coffee.country_of_origin %}
<p>Country of Origin: {{ coffee.country_of_origin.name }}
  <img src="{{ coffee.country_of_origin.flag }}" />
</p>
{% endif %}

<hr/>
<h3>Posted by
  <a href="{% url 'users:detail' coffee.author.username %}">{{ coffee.author.username }}</a>
</h3>
{% if coffee.author.name %}
<p>{{ coffee.author.name }}</p>
{% endif %}

{% if request.user.is_authenticated %}
<p>
  <a class="btn btn-primary" href="{% url 'coffee:update' coffee.slug %}" role="button">Update</a>
</p>
{% endif %}
{% endblock content %}
